@import "../../variables.module.scss";

.card {
  position: relative;
  border-radius: 5px;
}

.thumb {
  height: 400px;
}

.poster {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;

  object-fit: cover;
  object-position: top;
}

.text {
  display: flex;
  justify-content: center;
  padding: 10px;

  font-size: 18px;
}
