.wrapper {
  display: flex;
}
.poster {
  max-width: 320px;
  height: 500px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 5px;
  object-fit: cover;
}
.description {
  margin-left: 20px;
}
.movieTitle {
  margin-bottom: 55px;
  text-align: center;
}

.movieScore {
  margin-bottom: 10px;
}
.movieOverview,
.movieGenres {
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.activeLink {
  composes: link;
  color: #2196f3;
}
.linkNav {
  min-height: 80px;
  border-top: 1px solid #2a363b;
}

.button {
  min-width: 50px;
  margin: 10px 20px;
  padding: 10px 15px;
  /* background-color: transparent; */
  border: 2px solid;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.95em;
  font-weight: 600;
  line-height: 1;
  border-radius: 8px;
  transition: all 150ms ease-in-out;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.356);
  color: #ffa500;
}
