@import "../../variables.module.scss";

.wrapp {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}

.form {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 300px;
  border: 1px solid #bfbbba;
  border-radius: 3px;

  background-color: #fff;

  overflow: hidden;
}

.button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  outline: none;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.6;

  transition: opacity $transition-duration $transition-timing;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.reactIcon {
  vertical-align: middle;
  width: 15px;
  height: 15px;
}

.input {
  display: inline-block;
  width: 100%;
  height: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;

  &::placeholder {
    font: inherit;
    font-size: 20px;
  }
}
